body, html {
    height: 100%;
    max-height: 100%;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
* {
    box-sizing: border-box;
    transition: all o.5s ease;
}
.bg-image {
    /* The image used */
    background-image: url("main.jpg");
    
    /* Add the blur effect */
    filter: blur(20px);
    -webkit-filter: blur(20px);
    
    /* Full height */
    height: 100%; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Position text in the middle of the page/image */
  .login{
    color: white;
    font-weight: bold;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}
.loginimg{
    border-radius:50%;
    background-color: #f1f1f117;
    padding:40px
}
.welcome{
    display:none;
    font-size:20px;
    margin-top:10px
}
.footer{
    position: absolute;
    bottom:10px;
    right:50px;
}
.popup{
    display: none;
    position:absolute;
    top:-200px;
    right:-30px;
    font-size:3vw;
    background-color:rgba(0, 0, 0, 0.384);
    padding:0 30px
}
.popup p{
    padding:8px;
    font-size: 20px;
    color: white
}
.popup p:hover{
    background-color: rgba(26, 15, 15, 0.555)
}
.loginput{
  
}
.bye{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    font-size: 30px;
    display:none;
    color: white;

}
.loginbutt{
    width:150px;
    padding:10px;
    color:white;
    background-color: rgba(255, 255, 255, 0.178);
    border-style: none;
    border:1px solid white;
    margin-top:10px;
}
.logbox{
    display: none;
    position: relative;
    transform: translate(-50%, -50%);
    left:50%;
    margin-top:20px;
}
.icons{
    font-size: 30px;
    margin-left:30px;
    color:rgba(22, 4, 4, 0.39);
}

@media only screen and (max-width:576px) {
    .loginbutt{
        width:100px;
    }
    .popup{
        top:-160px;
    }
    .popup p{
        padding:8px;
        font-size: 15px;
    }
    .icons{
        font-size: 30px;
        margin-left:30px;
        color:rgba(255, 255, 255, 0.226);
    }
}